*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --color-carbon:#0d0d0d;
    --color-orange:#ea6b3d;
    --white-color:#ffff;
    --color-orange2:#e65a29;

}
.subh-bg-color{
    background-color: var(--color-orange);
    border: 1px solid var(--color-carbon);
}

.custom {
    min-width: 150px !important;
}


